<!DOCTYPE html>
<html>
    {% load static %} 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{month_name | title}} Challenges</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
        <link rel="stylesheet" href="{% static "challenges/header.css" %}">     
    </head>
    <body>
        {% include "challenges/includes/header.html" %} 
        <h1>{{month_name | title}} Challenge</h1>
        <h2>{{challenge_text}}</h2>        
        <script src="" async defer></script>
    </body>
</html>